[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "plotgardener"]
	path = plotgardener
	url = https://github.com/phanstiellab/plotgardener
